<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <!-- VNPay Configuration -->
    <context-param>
        <param-name>vnp_TmnCode</param-name>
        <param-value>V7JZD4T0</param-value>
    </context-param>
    <context-param>
        <param-name>vnp_HashSecret</param-name>
        <param-value>SWIIZHJJEFZEXWUEAKVERLANXLOPBTCZ</param-value>
    </context-param>
    <context-param>
        <param-name>vnp_Url</param-name>
        <param-value>https://sandbox.vnpayment.vn/paymentv2/vpcpay.html</param-value>
    </context-param>
    <context-param>
        <param-name>vnp_ReturnUrl</param-name>
        <param-value>https://unparted-stevie-unpaternally.ngrok-free.dev/FashionManagementSystem-1.0-SNAPSHOT/vnpay/return</param-value>
    </context-param>
    <context-param>
        <param-name>vnp_IpnUrl</param-name>
        <param-value>https://unparted-stevie-unpaternally.ngrok-free.dev/FashionManagementSystem-1.0-SNAPSHOT/vnpay/ipn</param-value>
    </context-param>
</web-app>
